.app-container {
  display: flex;
}

.content {
  width: 100%;
}


.sidebar {
  min-height: 1185px;
  width: 180px;
}

.post-card {
  margin: 20px 50px;
  min-width: 30rem !important;

}

.hashtag {
  margin: 0px 3px;
}

.reactions {
  margin: 15px 0 0 0;
}

.create-post {
  margin-left: 10%;
  margin-top: 50px;
  width: 80%;
}

.welcome-message {
  margin: 20px 0px;
}

.spinner {
  margin: 10%;
}